
final DesignPatterns project/.vscode/settings.json
final DesignPatterns project/Library/APIUpdater/project-dependencies.graph
final DesignPatterns project/Library/ArtifactDB
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/.npmignore
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/CHANGELOG.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/CHANGELOG.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/DEPENDENCIES.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/DEPENDENCIES.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Documentation~/collab-proxy.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/AssemblyInfo.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/AssemblyInfo.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Bootstrap.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Bootstrap.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabAnalytics.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabAnalytics.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabHistoryWindow.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabHistoryWindow.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarButton.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarButton.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarWindow.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarWindow.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Presenters.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Presenters/CollabHistoryPresenter.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Presenters/CollabHistoryPresenter.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/BuildStatusButton.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/BuildStatusButton.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDown.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDown.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDownItem.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDownItem.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItem.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItem.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItemFactory.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItemFactory.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryRevisionLine.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryRevisionLine.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/HistoryProgressSpinner.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/HistoryProgressSpinner.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/ICollabHistoryItemFactory.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/ICollabHistoryItemFactory.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/PagedListView.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/PagedListView.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/StatusView.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/StatusView.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryCommon.uss
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryCommon.uss.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryDark.uss
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryDark.uss.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryLight.uss
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryLight.uss.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Unity.CollabProxy.Editor.asmdef
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Unity.CollabProxy.Editor.asmdef.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/LICENSE.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/LICENSE.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/package.json
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/package.json.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/README.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/README.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/HistoryTests.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/HistoryTests.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/Unity.CollabProxy.EditorTests.asmdef
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/Unity.CollabProxy.EditorTests.asmdef.meta
final DesignPatterns project/Library/PackageCache/com.unity.ext.nunit@1.0.5/package.json
final DesignPatterns project/Library/PackageCache/com.unity.ide.rider@1.1.4/package.json
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CHANGELOG.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CHANGELOG.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CONTRIBUTING.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CONTRIBUTING.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Documentation~/README.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/AssemblyNameProvider.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/AssemblyNameProvider.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/FileIO.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/FileIO.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/GUIDGenerator.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/GUIDGenerator.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGeneration.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGeneration.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGenerationFlag.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGenerationFlag.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/Unity.com.unity.vscode.Editor.asmdef
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/Unity.com.unity.vscode.Editor.asmdef.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeDiscovery.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeDiscovery.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeScriptEditor.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeScriptEditor.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/LICENSE.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/LICENSE.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/package.json
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/package.json.meta
final DesignPatterns project/Library/PackageCache/com.unity.render-pipelines.core@7.3.1/package.json
final DesignPatterns project/Library/PackageCache/com.unity.render-pipelines.universal@7.3.1/package.json
final DesignPatterns project/Packages/packages-lock.json
final DesignPatterns project/Library/APIUpdater/project-dependencies.graph
final DesignPatterns project/Library/ArtifactDB
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/.npmignore
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/CHANGELOG.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/CHANGELOG.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/DEPENDENCIES.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/DEPENDENCIES.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Documentation~/collab-proxy.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/AssemblyInfo.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/AssemblyInfo.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Bootstrap.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Bootstrap.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabAnalytics.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabAnalytics.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabHistoryWindow.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabHistoryWindow.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarButton.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarButton.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarWindow.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/CollabToolbarWindow.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Presenters.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Presenters/CollabHistoryPresenter.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Presenters/CollabHistoryPresenter.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/BuildStatusButton.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/BuildStatusButton.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDown.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDown.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDownItem.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryDropDownItem.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItem.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItem.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItemFactory.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryItemFactory.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryRevisionLine.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/CollabHistoryRevisionLine.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/HistoryProgressSpinner.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/HistoryProgressSpinner.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/ICollabHistoryItemFactory.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/ICollabHistoryItemFactory.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/PagedListView.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/PagedListView.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/StatusView.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Collab/Views/StatusView.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryCommon.uss
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryCommon.uss.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryDark.uss
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryDark.uss.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryLight.uss
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Resources/Styles/CollabHistoryLight.uss.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Unity.CollabProxy.Editor.asmdef
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Editor/Unity.CollabProxy.Editor.asmdef.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/LICENSE.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/LICENSE.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/package.json
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/package.json.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/README.md
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/README.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/HistoryTests.cs
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/HistoryTests.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/Unity.CollabProxy.EditorTests.asmdef
final DesignPatterns project/Library/PackageCache/com.unity.collab-proxy@1.2.16/Tests/Editor/Unity.CollabProxy.EditorTests.asmdef.meta
final DesignPatterns project/Library/PackageCache/com.unity.ext.nunit@1.0.5/package.json
final DesignPatterns project/Library/PackageCache/com.unity.ide.rider@1.1.4/package.json
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CHANGELOG.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CHANGELOG.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CONTRIBUTING.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/CONTRIBUTING.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Documentation~/README.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/AssemblyNameProvider.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/AssemblyNameProvider.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/FileIO.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/FileIO.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/GUIDGenerator.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/GUIDGenerator.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGeneration.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGeneration.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGenerationFlag.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/ProjectGeneration/ProjectGenerationFlag.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/Unity.com.unity.vscode.Editor.asmdef
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/Unity.com.unity.vscode.Editor.asmdef.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeDiscovery.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeDiscovery.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeScriptEditor.cs
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/Editor/VSCodeScriptEditor.cs.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/LICENSE.md
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/LICENSE.md.meta
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/package.json
final DesignPatterns project/Library/PackageCache/com.unity.ide.vscode@1.2.3/package.json.meta
final DesignPatterns project/Library/PackageCache/com.unity.render-pipelines.core@7.3.1/package.json
final DesignPatterns project/Library/PackageCache/com.unity.render-pipelines.universal@7.3.1/package.json
final DesignPatterns project/Packages/packages-lock.json
final DesignPatterns project/Library/ArtifactDB
